@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-change-transform {
    will-change: transform;
  }
  .rotate-z {
    transform: rotateZ(90deg);
  }

  .hyphens-auto {
    hyphens: auto;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-1000 {
    animation-delay: 1000ms;
  }

  .animation-delay-2000 {
    animation-delay: 2000ms;
  }

  .animation-delay-3000 {
    animation-delay: 3000ms;
  }

  .animation-delay-4000 {
    animation-delay: 4000ms;
  }

  .animation-delay-6000 {
    animation-delay: 6000ms;
  }

  .forwards {
    animation-fill-mode: forwards;
  }
}

:root {
  --line-height: 26px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}
