body {
  background-color: #fffefa;
  background-color: color(display-p3 1 1 0.98);
}

:root {
  --line-height: 26px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 23px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-change-transform {
    will-change: transform;
  }

  ,
  .rotate-z {
    transform: rotateZ(90deg);
  }
}
