.section
  &__hero
    height: 100vh
    position: relative

  &__projects
    text-align: center
    padding-top: $baselineHeight * 4

    .projects-intro
      margin-bottom: $baselineHeight * 21

  &__contact
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center
