body {
  background-color: #fffefa;
  background-color: color(display-p3 1 1 0.98);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 body,
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

:root {
  --line-height: 26px;
}
