@charset "UTF-8";
/* Colors */
/* Dimensions */
/* Grid settings */
/* Media queries */
/* Based on SMACSS, Naming based on BEM with own syntax */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input {
  box-sizing: border-box;
  -webkit-appearance: none; }
  input:focus {
    outline: 0; }

/* Box Sizing Reset */
/* All of our custom controls should be what we expect them to be */
textarea {
  box-sizing: border-box; }

/* These elements are usually rendered a certain way by the browser */
button {
  box-sizing: border-box; }

input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio] {
  box-sizing: border-box; }

select {
  box-sizing: border-box; }

/* Text Inputs */
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Make webkit render the search input like a normal text field */
/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons */
button {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

input[type="reset"], input[type="button"], input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea */
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects */
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, label, select, button, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input {
  box-sizing: border-box;
  -webkit-appearance: none; }
  input:focus {
    outline: 0; }

/* Box Sizing Reset */
/* All of our custom controls should be what we expect them to be */
textarea {
  box-sizing: border-box; }

/* These elements are usually rendered a certain way by the browser */
button {
  box-sizing: border-box; }

input[type=reset], input[type=button], input[type=submit], input[type=checkbox], input[type=radio] {
  box-sizing: border-box; }

select {
  box-sizing: border-box; }

/* Text Inputs */
input[type=checkbox], input[type=radio] {
  width: 13px;
  height: 13px; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Make webkit render the search input like a normal text field */
/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons */
button {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

input[type="reset"], input[type="button"], input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea */
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects */
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#hero-animation {
  position: absolute;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-animation: 400ms ease-in-out 1s 1 fadeIn;
          animation: 400ms ease-in-out 1s 1 fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  #hero-animation::after {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(245, 244, 236, 0) 10%, #F5F4EC 100%); }

body {
  background-color: #F5F4EC; }

body, input {
  color: #111210;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px; }

input[type="text"], input[type="email"] {
  border-bottom: solid 1px #111210;
  text-align: center;
  transition: border 300ms ease-in-out;
  width: 100%; }

input[type="text"]:focus, input[type="email"]:focus {
  border-bottom: solid 1px #DD452A; }

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 26px; }

a {
  color: #111210;
  transition: all 200ms ease-in-out; }
  a:hover {
    color: #DD452A; }

.section__hero {
  height: 100vh;
  position: relative; }

.section__projects {
  text-align: center;
  padding-top: 52px; }
  .section__projects .projects-intro {
    margin-bottom: 273px; }

.section__contact {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.l-wrap {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto; }

.l-grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 52px;
  grid-row-gap: 273px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr); }
  .l-grid--col {
    -ms-grid-column-span: 6;
    -ms-grid-column: auto;
        grid-column: auto/span 6; }
    .l-grid--col-1 {
      -ms-grid-column-span: 1;
      -ms-grid-column: auto;
          grid-column: auto/span 1; }
      @media (max-width: 767px) {
        .l-grid--col-1 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }
    .l-grid--col-2 {
      -ms-grid-column-span: 2;
      -ms-grid-column: auto;
          grid-column: auto/span 2; }
      @media (max-width: 767px) {
        .l-grid--col-2 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }
    .l-grid--col-3 {
      -ms-grid-column-span: 3;
      -ms-grid-column: auto;
          grid-column: auto/span 3; }
      @media (max-width: 767px) {
        .l-grid--col-3 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }
    .l-grid--col-4 {
      -ms-grid-column-span: 4;
      -ms-grid-column: auto;
          grid-column: auto/span 4; }
      @media (max-width: 767px) {
        .l-grid--col-4 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }
    .l-grid--col-5 {
      -ms-grid-column-span: 5;
      -ms-grid-column: auto;
          grid-column: auto/span 5; }
      @media (max-width: 767px) {
        .l-grid--col-5 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }
    .l-grid--col-6 {
      -ms-grid-column-span: 6;
      -ms-grid-column: auto;
          grid-column: auto/span 6; }
      @media (max-width: 767px) {
        .l-grid--col-6 {
          -ms-grid-column-span: 6;
          -ms-grid-column: auto;
              grid-column: auto/span 6; } }

.is-open {
  display: block; }

.is-closed {
  display: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 39px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header--logo img {
    height: 39px; }
  .header--nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header--nav ul li {
      margin-left: 50px; }
  .header--nav a {
    text-decoration: none;
    font-weight: 500; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #111210;
  border-radius: 20px;
  height: 40px;
  box-shadow: 0px 1px 0px #111210;
  transition: all 200ms ease-in-out; }
  .button:hover {
    cursor: pointer;
    border: solid 1px #DD452A;
    box-shadow: 0px 1px 0px #DD452A; }
  .button:active {
    box-shadow: none; }

.projects-intro p {
  background-color: #F5F4EC; }

.project {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 52px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .project {
      display: block; } }
  .project--illustration {
    position: relative; }
    .project--illustration img {
      width: 100%;
      z-index: -1;
      -webkit-transform: scale(0.71, 0.73) translateY(-5px) translateX(-4px);
              transform: scale(0.71, 0.73) translateY(-5px) translateX(-4px); }
    .project--illustration::after {
      content: " ";
      background-image: url("../img/frame-macbook.png");
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .project--button {
    margin-top: 52px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    .project--button a {
      text-decoration: none; }

.project__even {
  direction: rtl; }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.hero--text {
  opacity: 0;
  position: absolute;
  top: 67%;
  text-align: center;
  -webkit-animation: 300ms ease-in-out 2s 1 slideIn;
          animation: 300ms ease-in-out 2s 1 slideIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .hero--text p {
    padding: 10px;
    color: #111210; }

.hero--arrow {
  opacity: 0;
  -webkit-animation: 300ms ease-in-out 3s 1 slideIn;
          animation: 300ms ease-in-out 3s 1 slideIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0; }
  .hero--arrow img {
    max-height: 117px; }

.contact {
  text-align: center; }
  .contact a {
    font-weight: 500; }

.footer {
  text-align: center;
  margin-bottom: 26px; }

.form-sign-up {
  text-align: center;
  margin: 0 auto;
  margin-top: 39px;
  max-width: 80%; }
  .form-sign-up p {
    margin-bottom: 13px; }
  .form-sign-up a {
    min-width: 175px;
    margin-left: 26px; }
  .form-sign-up #mail-signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/* @import shame */
/* Should never exist — (file for shameful SASS to be refactored. Check Git Blame to find the person guilty). */
