doctype html
html(lang="no")

  //- Config Variables
  - title = "🌫 mist"

  include head.pug

  body
    // Module: Header
    .header
      .header--logo
        a(href="/", class="link-logo")
          img(src="/img/logo.svg")
      .header--menu#menu
        a(href="", class="link-menu")
          img(src="/img/menu.svg", id="clicked-menu-item")
        ul#nav
          li: a(href="#projects").js-btn1.no-underline: strong projects
          li: a(href="#contact").no-underline: strong contact
          li: a(href="http://medium.com/@eivindml", target="_blank").no-underline: strong writings

    // Module: Main
    .main

      .section

        #hero-text.l-container
          .l-grid
            .l-grid--col-3
              p.
                Hi 👋🏻, my name is Eivind Lindbråten, and I'm an independent maker of macOS and iOS apps, from Oslo, Norway. I also work freelance with projects related to; macOS, iOS, web or creative coding. Feel free to say hi.
              p
                br
                a(href="#projects"): img(src="img/arrow.gif", class="arrow")

        // Module: Hero Animation
        #hero-animation

      #projects
        .section
          .l-container

            .l-grid
              .l-grid--col-2
              .l-grid--col-2
                .project-intro
                  p Below 👇🏻 are some of the projects I have built, either self-initiated or for clients. 
              .l-grid--col-2
            

            .l-grid
            
              .l-grid--col
                // Module: Project
                .c-project
                  img(src="img/illustration-missing-link.png").c-project__image.pop-image
                  .c-project__description
                      h3.c-project__title Missing Link for macOS
                      p.c-project__body I love Apple's own macOS productivity tools: Notes, Reminders, Mail and Messages. Unfortunately there is no way to create reference links between items in these apps. Missing Link adds the missing link to these apps, so you can reference notes, reminders, mails & messages, however you like. The project is soon in beta. Follow on Product Hunt for more information. ⛓
                      a(href="https://www.producthunt.com/upcoming/missing-link", target="_blank").c-project__link Subscribe on Product Hunt

              .l-grid--col
                // Module: Project
                .c-project.c-project--alternate
                  img(src="img/illustration-tenkekassa.png").c-project__image.pop-image.pop-image--reversed
                  .c-project__description
                      h3.c-project__title Tenkekassa.no
                      p.c-project__body In 2017, Humanistisk Ungdom launched a new campaign focusing on critical thinking. They nominated prominent figures and organizations in Norway in need of better skills and 'tools' for critical thinking. I helped them by designing and developing the voting platform tenkekassa.no. Currently unavailable. 🤔
                      a(href="https://humanistiskungdom.no/nyheter/2017/hvem-trenger-hjelp-fra-tenkekassa/", target="_blank").c-project__link Read more

              .l-grid--col
                // Module: Project
                .c-project
                  img(src="img/illustration-habit-tracker.png").c-project__image.pop-image
                  .c-project__description
                      h3.c-project__title Habit Tracker for iOS
                      p.c-project__body I have tried a lot different habit trackers for iOS, but none feels quite right. Either lacking functionality and insight, or lacking details and design which inspires a continual habit practice. So I wanted to create my own to solve this problem. The project is open source, and you can follow the progress on Github. 🍵
                      a(href="https://github.com/madebymist/habit-tracker").c-project__link Follow on Github
                  

              .l-grid--col
                // Module: Project
                .c-project.c-project--alternate.c-project--last
                  img(src="img/illustration-streaks.png").c-project__image.pop-image.pop-image--reversed
                  .c-project__description
                      h3.c-project__title Streaks for macOS
                      p.c-project__body For those who get inspired by keeping long Github contribution streaks. This simple menu bar app visually indicates wether you have done your daily contribution today or not. This will remind and motivate you to achieve that awesome Github streak. 🐙
                      a(href="https://itunes.apple.com/no/app/streaks/id1274680634?mt=12").c-project__link Get from macOS App Store
                
      #contact
        .section.section--patterns.section--patterns__centered.section--vertical-center
          .l-container
            .m-contact-text
              p If you 👈🏻 think we should work together, please contact me.
              a(href="mailto:eivind@madebymist.com").no-underline
                strong eivind@madebymist.com

    // Module: Footer
    .footer
      .l-container
        .l-grid
          .l-grid--col-3
            .footer--contact
              ul
                li Oslo, Norway
                li 992 501 863 MVA
                li Mist / Eivind Lindbråten
          .l-grid--col-3
            .footer-links
              ul
                li: a(href="https://github.com/eivindml", target="_blank") github.com/eivindml
                li: a(href="https://twitter.com/eivindml", target="_blank") twitter.com/eivindml
                li: a(href="mailto:eivind@madebymist.com") eivind@madebymist.com
  
  script(src="vendor/smoothscroll/dist/smoothscroll.min.js")
  script(src="js/main.js")