form#mail-signup.validate(action="//madebymist.us16.list-manage.com/subscribe/post?u=2ff3f728f98546e0037db74aa&id=a978859586", method="post", target="_blank")
	input.required.email(type="email", placeholder="you@something.sexy", name="EMAIL")
	a(href="")#mail-signup-submit.button subscribe