.header
  padding-top: 2*$baselineHeight

  &--logo
    img
      height: $baselineHeight * 3

  &--nav
    margin-top: 2 * $baselineHeight
    ul
      li
    a
      text-decoration: none
      font-weight: 500
