.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  background-color: $lightColor
  transition: border 750ms
  border-bottom: solid 1px rgba($darkColor, 0)
  display: flex
  justify-content: space-between
  padding: $baselineHeight

  &--logo
    +small
      overflow-x: hidden
      transition: width ease-in-out 300ms

  &--menu
    display: flex
    align-items: center

    ul
      overflow-x: hidden
      transition: width ease-in-out 300ms

      li
        display: inline
        margin-left: $baselineHeight * 2

  &__bottom-border
    border-bottom: solid 1px rgba($darkColor, 0.15)
    transition: border 750ms