.c-project
  @extend .l-grid

  margin-bottom: $baselineHeight * 11

  &__image
    @extend .l-grid--col-3

    width: 100%
    border-radius: $baselineHeight

  &__description
    @extend .l-grid--col-3

    display: flex
    flex-direction: column
    justify-content: center

  &__title
    @extend .t-large-title

  &__body
    margin-top: $baselineHeight
    margin-bottom: $baselineHeight

  &__link

  &--alternate
    .c-project__image
      +medium-to-large
        order: 2

  &--last
    margin-bottom: 0